<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.toy.auth.user.mapper.UserMapper">

    <!--
        username으로 사용자 조회
    -->
    <select id="findByUsername" parameterType="string" resultType="com.toy.auth.user.domain.User">
       SELECT id, username, password, role
        FROM users
        WHERE username = #{username}
    </select>

    <!--
        회원가입
    -->
    <insert id="insertUser">
        INSERT INTO users(username, password, role)
        VALUES (#{username}, #{password}, #{role})
    </insert>
    
    <select id="findAll" resultType="com.toy.auth.user.domain.User">
	    SELECT id, username, role
	    FROM users
	    ORDER BY id DESC
	</select>
	
	<select id="findById" parameterType="long" resultType="com.toy.auth.user.domain.User">
        SELECT id, username, role
        FROM users
        WHERE id = #{userId}
    </select>
	
	<update id="updateRole">
		update users
		set role = #{role}
		where id = #{userId}
	</update>

</mapper>
