<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.toy.auth.user.mapper.UserMapper">

    <!--
        username으로 사용자 조회
    -->
    <select id="findByUsername" parameterType="string" resultType="com.toy.auth.user.vo.User">
        SELECT id, username, password, role
        FROM users
        WHERE username = #{username}
    </select>

    <!--
        회원가입
    -->
    <insert id="insertUser">
        INSERT INTO users(username, password, role)
        VALUES (#{username}, #{password}, #{role})
    </insert>

</mapper>